<div class="bold result-name">
    <h1>{{firstName}}, {{lastName}}</h1>
</div>
<div class="gray result-address">
    <h3>{{address}}</h3>
</div>
<div class="gray result-city">
    <h3>{{city}}</h3>
</div>
<div class="gray result-state">
    <h3>{{state}}</h3>
</div>
<div class="gray result-phone">
    <h3>{{phoneNumber}}</h3>
</div>
